@use 'variables' as *;

.text-h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    color: $color-text;
}

.text-h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-medium;
    color: $color-text;
}

.text-h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-medium;
    color: $color-text;
}

.text-body {
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
    color: $color-text;
}

.text-small {
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    color: $color-text;
}

.text-helper {
    font-size: $font-size-helper;
    font-weight: $font-weight-regular;
    color: $color-text-muted;
}

.text-link {
    font-weight: $font-weight-bold;
    color: $color-link;
    &:hover{
        text-decoration: underline;
    }
}

.required-star {
    font-size: $font-size-body;
    font-weight: $font-weight-bold;
    color: $color-error;
}