/* --- Страница --- */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

/* --- Фрейм --- */
.login-frame {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

/* --- Заголовок --- */
.login-title-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-title-line {
    width: 100%;
    height: 0;
    border-bottom: 2px solid var(--color-element);
    margin-top: 0;
}

/* --- Поле ввода --- */
.login-input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.login-input-group .error-frame {
    top: calc(100% - 4.5px);
    left: 4%;
    white-space: nowrap;
    z-index: 2;
}

.login-input-group .error-frame::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 10px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent var(--color-error) transparent;
}

.login-input-group .error-frame::after {
  content: '';
  position: absolute;
  bottom: calc(100% - 1.5px);
  left: 10px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent var(--color-error-bg) transparent;
}

.login-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.login-input-field {
    color: var(--color-text);
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.login-input-field::placeholder {
    color: var(--color-muted);
}

.login-input-line {
    width: 100%;
    height: 0;
    border-bottom: 1.5px solid var(--color-element);
}

.login-password-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

.login-password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* --- Группа отправки данных --- */
.login-submit-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    width: 100%;
}

.login-submit-group .error-frame {
    bottom: calc(100% + 16px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;
}

.login-button-primary {
    width: 65%;
    height: 50px;
}

/* --- Текст о регистрации --- */
.login-register-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.login-register-link {
    background: none;
    border: none;
    color: #0C21C1;
}

.login-register-link:hover {
    text-decoration: underline;
}

/* --- Адаптация под телефоны --- */
@media (max-width: 768px) {
    .login-frame{
        width: 90%;
        padding: 24px;
        gap: 20px;
    }

    .login-input-group {
        gap: 4px;
    }

    .login-submit-group .error-frame {
        bottom: calc(100% + 12px);
    }

    .login-button-primary {
        width: 100%;
        height: auto;
        padding: 12px;
        font-size: 16px;
    }
}