@use '../styles/variables' as *;
@use '../styles/mixins' as *;

/* --- Страница --- */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;

    /* --- Фрейм --- */
    .frame {
        width: 38%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-xl;
        @include mobile {
            width: 90%;
        }
        @include tablet {
            width: 65%;
        }
    }
    
    /* --- Заголовок --- */
    .title-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    /* --- Ошибки --- */
    .input-group{
        .input-error {
            top: calc(100% - 4.5px);
            left: 4%;
        }
    }

    /* --- Группа отправки данных --- */
    .submit-group {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $spacing-xl;
        width: 100%;

        .button-primary {
            width: 60%;
            @include mobile {
                width: 100%;
            }
        }

        .error-frame {
            bottom: calc(100% + $spacing-md);
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    /* --- Текст о регистрации --- */
    .register-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
}
